<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
        <div class="container">

            <a class="navbar-brand fw-bold fs-2 text-primary"
               asp-controller="Home"
               asp-action="Index">
                DailyToolkit
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainMenu">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse"
                 id="mainMenu">

                <ul class="navbar-nav ms-auto align-items-lg-center">

                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Home"
                           asp-action="Index">
                            Home
                        </a>
                    </li>

                    <!-- PDF -->

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown">

                            PDF Tools

                        </a>

                        <ul class="dropdown-menu shadow">

                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Pdf"
                                   asp-action="ImageToPdf">

                                    Image to PDF

                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Pdf"
                                   asp-action="MergePdf">

                                    Merge PDF

                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Pdf"
                                   asp-action="SplitPdf">

                                    Split PDF

                                </a>
                            </li>

                            <li><hr class="dropdown-divider"></li>

                           

                            <li>
                                <a class="dropdown-item disabled">

                                    Compress PDF
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item disabled">

                                    Rotate PDF
                                </a>
                            </li>

                        </ul>

                    </li>

                    <!-- IMAGE -->

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown">

                            Image Tools

                        </a>

                        <ul class="dropdown-menu shadow">

                            <li>
                                <a class="dropdown-item disabled">

                                    JPG to PNG

                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item disabled">

                                    PNG to JPG

                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item disabled">

                                    Compress Image

                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item disabled">

                                    Resize Image

                                </a>
                            </li>

                        </ul>

                    </li>

                    <!-- Resume -->

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           data-bs-toggle="dropdown">

                            Resume

                        </a>

                        <ul class="dropdown-menu shadow">

                            <li>
                                <a class="dropdown-item disabled">

                                    Resume Builder

                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item disabled">

                                    Biodata Builder

                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item disabled">

                                    Cover Letter

                                </a>
                            </li>

                        </ul>

                    </li>

                    <!-- Developer -->

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           data-bs-toggle="dropdown">

                            Developer

                        </a>

                        <ul class="dropdown-menu shadow">

                            <li>
                                <a class="dropdown-item disabled">

                                    JSON Formatter

                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item disabled">

                                    Base64

                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item disabled">

                                    JWT Decoder

                                </a>
                            </li>

                        </ul>

                    </li>

                    <!-- Calculator -->

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           data-bs-toggle="dropdown">

                            Calculators

                        </a>

                        <ul class="dropdown-menu shadow">

                            <li>
                                <a class="dropdown-item disabled">

                                    GST Calculator

                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item disabled">

                                    EMI Calculator

                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item disabled">

                                    Age Calculator

                                </a>
                            </li>

                        </ul>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"
                           asp-controller="Blog"
                           asp-action="Index">

                            Blog

                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"
                           asp-controller="Contact"
                           asp-action="Index">

                            Contact

                        </a>

                    </li>

                </ul>

            </div>

        </div>

    </nav>

</header>