<div id="globalLoader" class="dt-loader d-none">

    <div class="dt-loader-box">

        <div class="spinner-border text-primary"
             role="status">
        </div>

        <h5 id="loaderMessage"
            class="mt-3 mb-0">

            Processing...

        </h5>

    </div>

</div>