.upload-area {
    border: 3px dashed #0d6efd;
    border-radius: 20px;
    padding: 70px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    background: #fafafa;
}

    .upload-area.drag {
        background: #eef6ff;
        border-color: #198754;
    }

.card {
    border-radius: 15px;
}

.form-control {
    border-radius: 10px;
}

#fileName {
    color: #0d6efd;
    font-weight: bold;
}

.btn-danger {
    min-width: 220px;
}
