.upload-area {
    border: 3px dashed #0d6efd;
    border-radius: 20px;
    padding: 70px;
    text-align: center;
    background: #fafafa;
    transition: .3s;
}

    .upload-area.drag {
        border-color: #198754;
        background: #eef9f2;
    }

.pdf-icon {
    font-size: 90px;
    color: #dc3545;
    margin-bottom: 20px;
}

.card {
    border-radius: 15px;
}

.btn-success {
    min-width: 220px;
}
