<section class="py-5 bg-white">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-8">

                <div class="input-group input-group-lg shadow">

                    <span class="input-group-text bg-white">

                        <i class="bi bi-search"></i>

                    </span>

                    <input type="text"
                           class="form-control"
                           placeholder="Search 100+ tools..." />

                </div>

            </div>

        </div>

    </div>

</section>